@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Alatsi', sans-serif;

}
h1{
    margin: 0;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
    padding: 10px 0 10px 0;
    margin-bottom: 50px;
    border-radius: 10px;
    color: black;
}

.container {
    border: solid white 6px;
    height: 400px;
    width: 600px;
    margin-left: 350px;
    margin-top: 150px;
    border-radius: 20px;
    font-size: 20px;
    
}
.container-input {
    margin-bottom: 60px;
}
.container-input input {
    height: 30px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Alatsi', sans-serif;
}
input::placeholder{
    padding-left: 20px;
}
input:focus {
    outline: none;
}
a {
    text-decoration: none;
}
.container-button {
    margin-top: 100px;
    justify-content: space-between;
}

button{
    border: transparent;
    height: 30px;
    width: 200px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(222,168,248,1) 0%, rgba(168,222,248,1) 21.8%, rgba(189,250,205,1) 35.6%, rgba(243,250,189,1) 52.9%, rgba(250,227,189,1) 66.8%, rgba(248,172,172,1) 90%, rgba(254,211,252,1) 99.7% );
    border-radius: 15px;
    font-family: 'Alatsi', sans-serif;
    font-size: 15px;
    padding-right: 20px;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}
button {
    outline: none;
    padding-right: 20px;
}

img {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 400px;
}

footer {
    padding-top: 50px;
    text-align: left;
}

.container-registro {
    border: solid white 6px;
    height: 600px;
    width: 600px;
    margin-left: 350px;
    margin-top: 150px;
    border-radius: 20px;
    font-size: 20px;
}

.container-inventario {
    border: solid white 6px;
    height: 450px;
    width: 600px;
    margin-left: 350px;
    margin-top: 150px;
    border-radius: 20px;
    font-size: 20px;
}
.container-mantenimiento {
    border: solid white 6px;
    height: 550px;
    width: 600px;
    margin-left: 350px;
    margin-top: 150px;
    border-radius: 20px;
    font-size: 20px;
}